a {
    text-decoration: none;
}

/* BUTTON DEFAULT */
.btn {
    color: $oxford-blue;
    background: $sky-blue;
    text-align: center;
    border: none;
    border-radius: 5px;
    display: block;
    letter-spacing: .1em;
    margin: 10px 0px;
    padding: 13px 20px;
    text-decoration: none;
}