.header {
    grid-column: 1/-1;

    >img {
        position: absolute;
        width: 100%;
        height: 100vh;
        filter: brightness(50%);
        z-index: -1;
    }

    &.open {
        .mobile__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $oxford-blue;

    }

    &__menu {
        position: absolute;
        width: 100%;
        margin: auto;
        margin-top: 10px;


        a {
            color: $lavender;
            display: block;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            text-transform: uppercase;
        }
    }

    .nav {
        width: 100%;
        position: relative;

        .mobile {
            max-width: 90%;
            margin: auto;


            &__toggle {
                >span {
                    display: block;
                    width: 26px;
                    height: 5px;
                    background-color: $lavender;
                    z-index: 100;
                    transition: all 300ms ease-in-out;
                    transform-origin: 1px;

                    &:not(:last-child) {
                        margin-bottom: 3px;
                    }
                }
            }
        }

        .desktop {
            max-width: 80%;
            margin: auto;

            a {
                margin: 0 auto;
                color: $lavender;
                text-transform: uppercase;

                &:nth-child(4) {
                    margin-top: 5px;
                }
            }
        }
    }

    &__content {
        width: 80%;
        margin: auto;
        margin-top: 30px;

        .welcome_msg {
            max-width: 300px;
            margin: auto;
            color: $lavender;

            h1 {
                span {
                    font-family: $font-general;
                    color: $lavender;
                    letter-spacing: 2px;
                }
            }

            p {
                color: $lavender;
                font-size: 1.5em;
                line-height: 1.8em;
                font-family: $font-general;

                span {
                    font-size: .81em;
                    color: $cream;
                }
            }

            a {
                width: 50%;
                margin: 20px 5px;
                padding: 12px 15px;
                font-size: 1.2em;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: $oxford-blue;
                }
            }
        }

        .login_div {
            max-width: 100%;
            margin: auto;

            form {
                input[type=password] {
                    margin: 10px auto;
                }
            }
        }
    }
}

.container {
    .header {
        background-color: $oxford-blue;
    }

    .content {
        margin-top: 50px;
    }
}