//colors
$iris-blue: #5448c8;
$sky-blue:#9bbec7;
$oxford-blue:#05204A;
$wisteria:#B497D6;
$lavender: #E1E2EF;
$scarlet:#ff2e00;
$yellow-orange: #fea82f;
$gold:#ddb771;
$cream: #fffecb;
$jet: #423e3b;
$raisin:#191923;
$rich-black:#073b3a;


//fonts
$font-header: 'Clicker Script',
cursive;
$font-general: 'Source Serif Pro',
serif;